/* HomeCarreiras */

.home-carreiras-container {
  /* width: 100%; */
  height: 100vh;
  overflow: hidden;
  background: url('../img/Carreiras/intro-bg-carreiras.png') no-repeat;
  background-size: cover;
	display: flex;
	align-items: center;
}

.div-carreiras-container h1{
  font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	color: #FFFFFF;
  width: auto;
  background: #6D3DBA;
  margin-top: 5px;
  padding-left: 15px;
}

/* Quem Somos Carreiras */
.ser-tcs-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: url('../img/bolinhas.png') right no-repeat;
	background-position: 110% 38%;
}

.ser-tcs-container h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	padding-top: 60px;
	color: #505050;
}

.ser-tcs-container p{
	font-family: var(--UniNeue-Light);
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 110px;
	color: #505050;
	max-width: 900px;
}

@media(max-width: 1202px){
  .ser-tcs-container p{
    max-width: 700px;
  }
}

@media(max-width: 986px){
	.ser-tcs-container h1{
		font-size: 55px;
	}

	.ser-tcs-container {
		background: none;
	}
}

@media(max-width : 472px){	
	.ser-tcs-container h1{
		font-size: 38px;
	}

	.ser-tcs-container p {
		font-size: 22px;
	}

	.ser-tcs-container {
		background: none;
		
	}

	.ser-tcs-container p {
		padding-bottom: 30px;
	}
}


/* Sessão Video */
.sessao-video-container {
  width: 100%;
  height: auto;
}

.video-flex {
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* / * O que Valorizamos * / */
.nossa-cultura-container {
	width: 100%;
	margin-top: -120px;
	padding-bottom: 60px;
}

.nossa-cultura-container h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	color: #505050;
}

.nossa-cultura-container h2{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 34px;
	color: #6D3DBA;
}

.nossa-cultura-container p{
	font-family: var(--UniNeue-Light);
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #505050;
}

@media(max-width: 986px){
	.nossa-cultura-container h1{
		font-size: 55px;
	}
}

@media(max-width : 472px){	
	.nossa-cultura-container img{
		margin-bottom: 30px;
	}

	.img-valores {
		display: none;
	}

	.nossa-cultura-container h1{
		font-size: 38px;
		padding-top: 30px;
	}

	.nossa-cultura-container p {
		font-size: 22px;
		padding-bottom: 30px;
	}

	.nossa-cultura-container {
		margin-top: -220px;
		padding-bottom: 0;
	}
}

/* Container Vagas */
.container-vagas {
	width: 100%;
	height: auto;
	padding-bottom: 100px;
}

.container-vagas h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	color: #505050;
	padding-top: 60px;
	padding-bottom: 60px;
}

.card-vagas {
	width: 100%;
	height: auto;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-vagas-titulo {
	width: 30%;
	height: auto;
	background: #6D3DBA;
	border-radius: 15px 0 0 15px;
	font-family: var(--UniNeue-HeavyItalic);
}

.card-vagas-titulo-vaga {
	font-size: 24px;
	color: #FFFFFF;
	padding: 30px 0 0 20px;
}

.card-vagas-titulo-nome {
	font-size: 34px;
	color: #FFFFFF;
	padding: 10px 20px 0 20px;
}

.card-vagas-titulo-empresa {
	font-size: 18px;
	color: #FFFFFF;
	padding: 10px 0 0 20px;
}

.card-vagas-paragrafo {
	width: 70%;
	height: auto;
	padding-bottom: 40px;
	background: #FFFFFF;
	border-radius: 0 15px 15px 0;
}

.card-vagas-paragrafo p {
	font-family: var(--UniNeue-Light);
	font-size: 24px;
	padding: 30px 20px 40px 20px;
}

.cadastro-vaga {
	padding: 15px 35px;
	margin-left: 20px;
	font-size: 18px;
	background: #6B3CB7;
	border-radius: 35px;
	color: #fff;
	font-family: var(--UniNeue-HeavyItalic);
	cursor: pointer;
}

.form-vagas {
	width: 100%;
	height: auto;
	display: none;
}

.form-vagas > form {
	padding: 15px;
}

.form-vagas-label {
	font-family: var(--UniNeue-Light);
	font-size: 24px;
	color: #898b9a;
	padding-top: 25px;
	padding-bottom: 25px;
}


@media(max-width: 762px){
	.card-vagas {
		flex-direction: column;
	}

	.card-vagas-titulo {
		width: 100%;
		border-radius: 15px 15px 0 0;
	}

	.card-vagas-paragrafo {
		width: 100%;
		border-radius: 0 0 15px 15px;
	}

	.card-vagas-titulo-empresa {
		font-size: 18px;
		color: #FFFFFF;
		padding: 10px 0 30px 20px;
	}
}


/* fotos-grupo-container */
.fotos-grupo-container {
	width: 100%;
	height: auto;
}


/* sessao-comentarios-container */
.sessao-comentarios-container {
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sessao-comentarios-container h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 38px;
	color: #6D3DBA;
	text-align: center;
	padding: 0 80px;
}

@media(max-width: 762px){
	.sessao-comentarios-container {
		height: auto;
	}

	.sessao-comentarios-container h1{
		font-family: var(--UniNeue-HeavyItalic);
		font-size: 28px;
		color: #6D3DBA;
		text-align: center;
		padding: 60px 20px;
	}
}
