/* / * FONTS * / */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@font-face {
  font-family: UniNeue-HeavyItalic;
  src: url('../fonts/UniNeue-HeavyItalic.otf');
}

@font-face {
  font-family: UniNeue-Light;
  src: url('../fonts/UniNeue-Light.otf');
}

/*===== Fonts =====*/
:root{
  --UniNeue-Light: 'Montserrat';
	--UniNeue-HeavyItalic: 'UniNeue-HeavyItalic';
}

/* * {
	text-align: justify;
} */

body, h1, h2, h3, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

body {
	background: #F3F3F3;
}

/* / * Home * / */

.home-container {
  /* width: 100%; */
  height: 100vh;
  overflow: hidden;
  background: url('../img/bg-home.png') no-repeat;
  background-size: cover;
	display: flex;
	align-items: center;
}

.div-container h1{
  font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	color: #FFFFFF;
	margin-bottom: 60px;
}

.contato-home {
	padding: 20px 55px;
	font-size: 18px;
	background: #6B3CB7;
	border-radius: 35px;
	color: #fff;
	font-family: var(--UniNeue-HeavyItalic);
	cursor: pointer;
}

.contato-home-duvidas {
	padding: 20px 55px;
	font-size: 18px;
	background: #6B3CB7;
	border-radius: 35px;
	color: #fff;
	font-family: var(--UniNeue-HeavyItalic);
	cursor: pointer;
}


.contato-home-dois {
	padding: 18px 86px;
	font-size: 18px;
	background: transparent;
	border: #fff solid 5px;
	border-radius: 35px;
	color: #fff;
	font-family: var(--UniNeue-HeavyItalic);
	cursor: pointer;
}

.contato-home-tres {
	padding: 20px 55px;
	font-size: 18px;
	background: transparent;
	border: #fff solid 4px;
	border-radius: 35px;
	color: #fff;
	font-family: var(--UniNeue-HeavyItalic);
	cursor: pointer;
}

@media(max-width: 986px){
	.div-container h1{
		max-width: 330px;
    font-size: 42px;
	}
}

@media(max-width : 472px){	
	.contato-home-dois {
		position: relative;
    top: 55px;
    left: 3px;
	}

	.div-container h1{
		max-width: 330px;
    font-size: 38px;
	}

	.openMenu {
		position: relative;
		left: 50px;
	} 
}

/* / * Home * / */

.card-container {
  max-width: 100%;
  overflow: hidden;
}

.card-container h1 {
	text-align: center;
	font-family: var(--UniNeue-HeavyItalic);
	color: #fff;
	font-size: 28px;
}

.card-body {
	width: 100%;
	height: 100px;
	background: #6D3DBA;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-body-text {
	/* height: 180px;
	background: url('../img/img-card-um.png') no-repeat center; */
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body-text h1 {
	text-align: center;
	font-family: var(--UniNeue-HeavyItalic);
	color: #fff;
	font-size: 18px;
}

.card-body-dois {
	background: #4D2C84;
	width: 100%;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-body-text-dois {
	/* height: 180px;
	background: url('../img/img-card-dois.png') no-repeat center; */
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body-text-dois h1 {
	text-align: center;
	font-family: var(--UniNeue-HeavyItalic);
	color: #fff;
	font-size: 18px;
}

.card-body-tres {
	background: #2B164D;
	width: 100%;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-body-text-tres {
	/* height: 180px;
	background: url('../img/img-card-tres.png') no-repeat center; */
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body-text-tres h1 {
	text-align: center;
	font-family: var(--UniNeue-HeavyItalic);
	color: #fff;
	font-size: 18px;
}

.card-body-quatro {
	background: #503ABF;
	width: 100%;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-body-text-quatro {
	/* height: 180px;
	background: url('../img/img-card-quatro.png') no-repeat center; */
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body-text-quatro h1 {
	text-align: center;
	font-family: var(--UniNeue-HeavyItalic);
	color: #fff;
	font-size: 18px;
}

.card-body:hover,
.card-body-dois:hover,
.card-body-tres:hover,
.card-body-quatro:hover {
  transform: scale(1.01);
  transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}



/* @media (min-width: 1500px) {
	.card-body-text,
	.card-body-text-dois,
	.card-body-text-tres,
	.card-body-text-quatro {
		height: 250px;
	}

	.card-body-text h1,
	.card-body-text-dois h1,
	.card-body-text-tres h1,
	.card-body-text-quatro h1{
		font-size: 24px;
	}

	.home-container {
		height: 100vh;
	}

	.div-container h1{
		font-size: 75px;
	}
} */

/* / * Quem Somos * / */
.quem-somos-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* border: #4D2C84 solid 4px; */
	background: url('../img/bolinhas.png') right no-repeat;
	background-position: 110% 38%;
}

.quem-somos-container h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	padding-top: 60px;
	color: #505050;
}

.quem-somos-container p{
	font-family: var(--UniNeue-Light);
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 60px;
	color: #505050;
	max-width: 700px;
}

@media(max-width: 986px){
	.quem-somos-container h1{
		font-size: 55px;
	}

	.quem-somos-container {
		background: none;
	}
}

@media(max-width : 472px){	
	.quem-somos-container h1{
		font-size: 38px;
	}

	.quem-somos-container p {
		font-size: 22px;
	}

	.quem-somos-container {
		background: none;
	}
}
/* / * Div Valores * / */
.div-valores > p > b {
	font-weight: bold;
}

.div-valores > p > a {
	color: #6B3CB7;
}


/* / * O que Valorizamos * / */

.oque-valorisamos-container {
	width: 100%;
	padding-top: 60px;
}

.oque-valorisamos-container h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	color: #505050;
}

.oque-valorisamos-container p{
	font-family: var(--UniNeue-Light);
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 60px;
	color: #505050;
}

.div-img-flex {
	display: flex;
	align-items: center;
	/* margin-top: 30px; */
	height: 50vh;
}

@media(max-width: 986px){
	.oque-valorisamos-container img{
		
	}

	.oque-valorisamos-container h1{
		font-size: 55px;
	}
}

@media(max-width : 472px){	
	.oque-valorisamos-container img{
		margin-bottom: 30px;
	}

	.img-valores {
		display: none;
	}

	.oque-valorisamos-container h1{
		font-size: 38px;
		padding-top: 30px;
	}

	.oque-valorisamos-container p {
		font-size: 22px;
		padding-bottom: 30px;
	}

	.quem-somos-container p {
		padding-bottom: 30px;
	}
	
	.quem-somos-container h1 {
		padding-top: 30px;
	}

	.oque-valorisamos-container {
		padding-top: 30px;
	}

	.div-img-flex {
		align-items: start;
		height: 30vh;
	}
}

/* / * Nossas Empresas * / */
.nossas-empresas-container {
	width: 100%;
}

.empresas-topo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.empresas-topo-body {
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	padding-top: 60px;
	color: #6D3DBA;
}

.empresas-topo-body img {
	padding-top: 60px;
	width: 150px;
}

.row-empresas {
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
}

.empresa-body {
	flex: 1;
}

.empresa-flex {
	/* background: chartreuse; */
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	padding: 15px;
}


/* / * Nossas Empresas - Imagens Inicio * / */
.img-empresa-body-um {
	background: url('../img/Nossas-Empresas/tcs-industrial.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-um:hover {
	background: url('../img/Nossas-Empresas/tcs-industrial-color.png') no-repeat center;
}

.img-empresa-body-dois {
	background: url('../img/Nossas-Empresas/luminus.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-dois:hover {
	background: url('../img/Nossas-Empresas/luminus-color.png') no-repeat center;
}

.img-empresa-body-tres {
	background: url('../img/Nossas-Empresas/fortune.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-tres:hover {
	background: url('../img/Nossas-Empresas/fortune-color.png') no-repeat center;
}


.img-empresa-body-quatro {
	background: url('../img/Nossas-Empresas/invision.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-quatro:hover {
	background: url('../img/Nossas-Empresas/invision-color.png') no-repeat center;
}

.img-empresa-body-cinco {
	background: url('../img/Nossas-Empresas/kuara.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-cinco:hover {
	background: url('../img/Nossas-Empresas/kuara-color.png') no-repeat center;
}

.img-empresa-body-seis {
	background: url('../img/Nossas-Empresas/tcx.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-seis:hover {
	background: url('../img/Nossas-Empresas/tcx-color.png') no-repeat center;
}

.img-empresa-body-sete {
	background: url('../img/Nossas-Empresas/AutoMais.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-sete:hover {
	background: url('../img/Nossas-Empresas/AutoMais-color.png') no-repeat center;
}

.img-empresa-body-oito {
	background: url('../img/Nossas-Empresas/UseCar.png') no-repeat center;
	background-size: cover;
	height: 130px;
	width: 130px;
}

.img-empresa-body-oito:hover {
	background: url('../img/Nossas-Empresas/UseCar-color.png') no-repeat center;
	
}

/* / * Nossas Empresas - Imagens Fim * / */

.row-empresas h2 {
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 22px;
	padding-top: 15px;
	color: #8C8C8C;
	
}

@media(max-width: 986px){
	.empresas-topo-body {
		font-size: 55px;
	}
}

@media(max-width: 768px){
	.row-empresas h2 {
		text-align: center;
	}
}

@media(max-width : 472px){	
	.empresas-topo-body {
		font-size: 38px;
	}

	.empresas-topo img {
		width: 105px;
		height: 105px;
	}
}

/* / * Timeline * / */
.timeline-container {
	width: 100%;
	background: #6B3CB7;
}

.timeline-container {
	height: auto;
	margin-top: 60px;
}

.owl-theme .owl-nav.disabled+.owl-dots{
	padding-bottom: 60px;
}

.timeline-container h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	color: #FFF;
	padding-top: 60px;
}

.timeline-container-body {
	padding-top: 0;
}

#timeline-desktop {
	display: block;
}

#timeline-mobile {
	display: none;
}

@media (max-height: 820px) {
	.timeline-container {
		height: auto;
  }

	.owl-theme .owl-nav.disabled+.owl-dots{
		padding-bottom: 60px;
	}
}

@media (max-height: 720px) {
	.timeline-container {
		height: auto;
  }

	.owl-theme .owl-nav.disabled+.owl-dots{
		padding-bottom: 60px;
	}

	.timeline-container h1{
		font-size: 38px;
	}

	.timeline-desktop {
		display: none;
	}
}

@media (max-width: 720px) {
	#timeline-desktop {
		display: none;
	}

	#timeline-mobile {
		display: block;
	}
	
}


