/* / * Home * / */
.container-valorizar {
  width: 100%;
  height: 10vh;
  background-color: #2B2B2B;
  display: flex;
  position: fixed;
  z-index: 5;
  margin-top: -10vh;
}

.body-container-valorizar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.body-container-valorizar h1 {
  color: #FFFFFF;
  font-family: var(--UniNeue-HeavyItalic);
  font-size: 28px;
	margin-left: 20px;
}


.home-valorizar {
  height: 30vh;
  overflow: hidden;
  background: url('../img/valorizar-bg.png') no-repeat;
  background-size: cover;
	display: flex;
	align-items: center;
  justify-content: center;
	margin-top: calc(110px + 10vh);
}

.div-valorizar h1{
  font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	color: #FFFFFF;
	display: flex;
  align-items: center;
  justify-content: left;
}


/* / * Impactar somo container * / */
.valorizar-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* border: #4D2C84 solid 4px; */
	background: url('../img/bolinhas.png') right no-repeat;
	background-position: 110% 38%;
}

.valorizar-container h1{
	font-family: var(--UniNeue-HeavyItalic);
	font-size: 42px;
	padding-top: 60px;
	color: #505050;
}

.valorizar-container p{
	font-family: var(--UniNeue-Light);
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 60px;
	color: #505050;
	max-width: 600px;
}

@media(max-width: 986px){
	.valorizar-container h1{
		font-size: 55px;
	}

	.valorizar-container {
		background: none;
	}

	.home-valorizar {
		height: 30vh;
	}
}

@media(max-width : 472px){	
	.valorizar-container h1{
		font-size: 38px;
	}

	.valorizar-container p {
		font-size: 22px;
	}

	.valorizar-container {
		background: none;
	}

	.home-valorizar {
		height: 30vh;
		background: url('../img/valorizar-bg-mobile.png') no-repeat;
	}
}

