:root{
  --UniNeue-Light: 'Montserrat';
	--UniNeue-HeavyItalic: 'UniNeue-HeavyItalic';
}

.container-empresas {
  width: 100%;
  height: 10vh;
  background-color: #2B2B2B;
  display: flex;
  position: fixed;
  z-index: 5;
  margin-top: -10vh;
}

.body-container-empresas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-container-empresas i {
  color: #FFFFFF;
  font-size: 25px;
  padding-right: 30px;
  cursor: pointer;
}

.body-container-empresas h1 {
  color: #FFFFFF;
  font-family: var(--UniNeue-HeavyItalic);
  font-size: 28px;
}

.home-empresas {
  width: 100%;
  height: auto;
  margin-top: calc(110px + 10vh);
  display: flex;
  /* border: springgreen solid 3px; */
}

.home-empresas-baixo {
  width: 100%;
  height: auto;
  display: flex;
  /* border: springgreen solid 3px; */
}

.home-empresas-item {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.div-home-empresas-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  height: 100%;
}

.div-home-empresas-text p > b {
  font-family: var(--UniNeue-HeavyItalic);
  font-size: 38px;
  color: #505050;
  
}

.div-home-empresas-text p {
  font-family: var(--UniNeue-Light);
  font-size: 28px;
  color: #505050;
  padding-top: 30px;
  padding: 0 100px;
  padding-top: 30px;
}

@media(max-width: 986px){
  .home-empresas, .home-empresas-baixo {
    flex-wrap: wrap;
  }

  .home-empresas-baixo img {
    padding-top: 30px;
  }

  .div-home-empresas-text p {
    padding: 10px 15px;
    font-size: 24px;
  }
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: flex;
  animation: show-up .3s forwards;
}

.dropdown-menu {
  position: absolute;
  top: 25px;
  background: #2B2B2B;
  z-index: 200;
  right: 18px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--UniNeue-HeavyItalic);
  padding-bottom: 30px;
}

/* .dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E54;
} */

.dropdown-menu li a:hover {
  color: white;
}

.dropdown-menu li {
  padding-top: 40px;
}

.dropdown-menu li a {
  /* border: springgreen solid 5px; */
  color: #fff;
  padding: 10px;
}