:root{
  --UniNeue-Light: 'Montserrat';
	--UniNeue-HeavyItalic: 'UniNeue-HeavyItalic';
}

.container-empresas {
  width: 100%;
  height: 10vh;
  background-color: #2B2B2B;
  display: flex;
  position: fixed;
  z-index: 10;
  margin-top: -10vh;
}

.body-container-empresas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-container-empresas i {
  color: #FFFFFF;
  font-size: 25px;
}

.body-container-empresas h1 {
  color: #FFFFFF;
  font-family: var(--UniNeue-HeavyItalic);
  font-size: 28px;
}

.home-empresas {
  width: 100%;
  height: auto;
  margin-top: calc(110px + 10vh);
  display: flex;
  /* border: springgreen solid 3px; */
}

.home-empresas-baixo {
  width: 100%;
  height: auto;
  display: flex;
  /* border: springgreen solid 3px; */
}

.home-empresas-item {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

@media(max-width: 986px){
  .home-empresas, .home-empresas-baixo {
    flex-wrap: wrap;
  }

  .home-empresas-baixo img {
    padding-top: 30px;
  }

  .div-home-empresas-text p {
    padding: 0 15px;
  }

}

.div-home-empresas-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  height: 100%;
}

.div-home-empresas-text p > b {
  font-family: var(--UniNeue-HeavyItalic);
  font-size: 38px;
  color: #505050;
  
}

.div-home-empresas-text p {
  font-family: var(--UniNeue-Light);
  font-size: 24px;
  color: #505050;
  padding-top: 30px;
  padding: 0 60px;
  padding-top: 30px;
}